<a href="https://colab.research.google.com/github/TanmoyGuria/Internshala-Web-Scrapping/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url="https://internshala.com/jobs/page-1/"
r=requests.get(url)

In [61]:
soup=BeautifulSoup(r.text,"lxml")
soup=soup.prettify

In [5]:
Name=soup.find_all("h3",class_="heading_4_5 profile")
Job_name=[]
for i in Name:
  name=i.text.strip()
  Job_name.append(name)

Job_name

['Video Editor',
 'Telesales - Tourism Industry',
 'Digital Marketing Specialist',
 'Content Writer',
 'Business Associate',
 'Business Development Associate',
 'Executive/Sr. Executive – Winback',
 'Content Writer',
 'Lead Generation Specialist',
 'Human Resources (HR) Associate',
 'Project Manager',
 'Academic Specialist',
 'Business Development Associate',
 'Education Loan Counselor',
 'Education Loan Counselor',
 'Photographer',
 'Business Manager',
 'Content & E-commerce Management Executive',
 'Business Development Associate',
 'Performance Marketing',
 'Associate UI/UX Designer',
 'Video Editor',
 'Associate Graphic Designer',
 'Junior Search Engine Optimization (SEO) Executive',
 'Human Resources (HR) Executive',
 'Design Specialist',
 'Assistant Program Manager',
 'Video Editor',
 'Inside Sales Executive',
 'Senior Graphic Designer',
 'Customer Service Executive',
 'Facebook Marketing Specialist',
 'Junior Graphic Designer',
 'Client Acquisition Specialist',
 'Client Acquisition Manager',
 'Client Acquisition Specialist',
 'Client Acquisition Executive',
 'Human Resources (HR) Executive',
 'Brand Execution-Celebrity Platform',
 'HTML Developer',
 '3D Product Designer',
 'Business Development Associate',
 'Content Writer',
 'Telecaller',
 'Corporate Sales Executive',
 'Customer Experience Associate',
 'Operations Associate',
 'Soft Skills Trainer',
 'Behavioural Trainer',
 'Digital Marketing Executive']

In [7]:
Name1=soup.find_all("div",class_="heading_6 company_name")
Company_name=[]
for i in Name1:
  name=i.text.strip()
  Company_name.append(name)
Company_name

['Intigly Private Limited',
 'Esampark',
 'CLIC',
 'OTFCoder',
 'HireDesigners',
 'Break The Code',
 'IndiaMART',
 'WRS INDIA',
 'MakeAR',
 'Ostello India Private Limited',
 'Yocket',
 'CloudBird Digital Private Limited',
 'NexGen Innovators IT Services Private Limited',
 'GyanDhan',
 'GyanDhan',
 'Espangle Consulting',
 'Espangle Consulting',
 'Espangle Consulting',
 'Espangle Consulting',
 'Rank Revenue Digitech',
 'Qriocity Ventures Private Limited',
 'Qriocity Ventures Private Limited',
 'Qriocity Ventures Private Limited',
 'Qriocity Ventures Private Limited',
 '3 Productions Wedding Planning & Décor LLP',
 '3 Productions Wedding Planning & Décor LLP',
 'WiJungle - by HttpCart',
 'Ace My Prep',
 'Expertrons',
 'Dolphin Ad World Private Limited',
 'Dolphin Ad World Private Limited',
 'Dolphin Ad World Private Limited',
 'Crossing Hurdles',
 'APSK Production & Entertainment Private Limited',
 'APSK Production & Entertainment Private Limited',
 'APSK Production & Entertainment Private Limited',
 'APSK Production & Entertainment Private Limited',
 'Sentriscope Data Intelligence Private Limited',
 'Tring',
 'Ally Digital Media',
 'Creatiwise',
 'SuperNova',
 'Auli Lifestyle',
 'Auli Lifestyle',
 'Offlimitscoffee',
 'SharePal',
 'SharePal',
 'Kapable.club',
 'Kapable.club',
 'Akrati Jewels Incorporation']

In [10]:
Name2=soup.find_all("a",class_="location_link view_detail_button")
location=[]
for i in Name2:
  name=i.text
  location.append(name)
location

['Noida',
 'Mumbai',
 'Pitampura',
 'Ahmedabad',
 'Delhi',
 'Ghaziabad',
 'Noida',
 'Mumbai',
 'Noida',
 'Chandigarh',
 'Noida',
 'Delhi',
 'Mumbai',
 'Noida',
 'Delhi',
 'Delhi',
 'Noida',
 'Jaipur',
 'Gurgaon',
 'Jaipur',
 'Gurgaon',
 'Faridabad',
 'Delhi',
 'Chennai',
 'Chennai',
 'Chennai',
 'Chennai',
 'Bangalore',
 'Bangalore',
 'Gurgaon',
 'Delhi',
 'Thane',
 'Navi Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Mumbai',
 'Gurgaon',
 'Jaipur',
 'Vadodara',
 'Indore',
 'Lucknow',
 'Noida',
 'Mumbai',
 'Thane',
 'Kalyan',
 'Mumbai',
 'Work from home',
 'Bangalore',
 'Tamil Nadu',
 'Kolkata',
 'Kolkata',
 'Delhi',
 'Noida',
 'Bangalore',
 'Bangalore',
 'Delhi',
 'Delhi',
 'Jaipur']

In [12]:
Name3=soup.find_all("span",class_="mobile")
salary=[]
for i in Name3:
  name=i.text.strip()
  salary.append(name)
salary

['₹ 2,00,000 - 3,00,000 /year',
 '₹ 3,00,000 - 3,60,000 /year',
 '₹ 2,40,000 - 4,20,000 /year',
 '₹ 3,00,000 - 3,50,000 /year',
 '₹ 2,00,000 - 2,50,000 /year',
 '₹ 2,00,000 - 3,00,000 /year',
 '₹ 3,00,000 - 3,60,000 /year',
 '₹ 2,00,000 - 2,10,000 /year',
 '₹ 3,00,000 - 4,20,000 /year',
 '₹ 2,00,000 - 2,50,000 /year',
 '₹ 5,00,000 - 9,00,000 /year',
 '₹ 2,00,000 /year',
 '₹ 2,00,000 - 3,00,000 /year',
 '₹ 2,80,000 /year',
 '₹ 2,40,000 /year',
 '₹ 2,00,000 - 4,00,000 /year',
 '₹ 3,50,000 - 6,50,000 /year',
 '₹ 4,00,000 - 7,50,000 /year',
 '₹ 5,50,000 - 7,50,000 /year',
 '₹ 2,99,999 - 7,00,000 /year',
 '₹ 3,00,000 - 3,60,000 /year',
 '₹ 3,00,000 - 3,60,000 /year',
 '₹ 3,00,000 - 3,60,000 /year',
 '₹ 3,00,000 - 3,60,000 /year',
 '₹ 3,00,000 - 4,00,000 /year',
 '₹ 3,00,000 - 4,00,000 /year',
 '₹ 4,50,000 - 4,80,000 /year',
 '₹ 2,40,000 /year',
 '₹ 4,00,000 - 6,50,000 /year',
 '₹ 3,00,000 /year',
 '₹ 2,00,000 - 2,50,000 /year',
 '₹ 2,00,000 - 2,50,000 /year',
 '₹ 3,00,000 - 7,00,000 /year',
 '₹ 3,00,000 - 4,20,000 /year',
 '₹ 3,00,000 - 4,20,000 /year',
 '₹ 3,00,000 - 4,20,000 /year',
 '₹ 3,00,000 - 4,00,000 /year',
 '₹ 2,50,000 - 3,00,000 /year',
 '₹ 2,00,000 - 2,50,000 /year',
 '₹ 2,50,000 - 3,50,000 /year',
 '₹ 2,40,000 - 3,60,000 /year',
 '₹ 2,00,000 - 5,00,000 /year',
 '₹ 2,00,000 - 2,10,000 /year',
 '₹ 2,00,000 - 2,10,000 /year',
 '₹ 2,00,000 - 3,50,000 /year',
 '₹ 3,00,000 - 4,00,000 /year',
 '₹ 3,00,000 - 4,00,000 /year',
 '₹ 5,00,000 - 8,00,000 /year',
 '₹ 5,00,000 - 8,00,000 /year',
 '₹ 2,00,000 - 2,40,000 /year']

In [14]:
Name4=soup.find_all("div",class_="item_body mobile-text")
exp=[]
for i in Name4:
  name=i.text.strip()
  exp.append(name)
exp

['0-2 years experience',
 '0-2 years experience',
 '0-2 years experience',
 '0-2 years experience',
 '0-2 years experience',
 '0-1 years experience',
 '0-2 years experience',
 '0-2 years experience',
 '0-2 years experience',
 '1-2 years experience',
 '2-4 years experience',
 '0-1 years experience',
 '1-2 years experience',
 '0-1 years experience',
 '0-1 years experience',
 '0-5 years experience',
 '0-5 years experience',
 '0-5 years experience',
 '0-4 years experience',
 '1-5 years experience',
 '1-2 years experience',
 '0-2 years experience',
 '0-2 years experience',
 '0-2 years experience',
 '1-3 years experience',
 '1-3 years experience',
 '0-1 years experience',
 '0 years experience',
 '0-3 years experience',
 '1 year experience',
 '0-1 years experience',
 '1 year experience',
 '1-4 years experience',
 '1-4 years experience',
 '1-4 years experience',
 '1-4 years experience',
 '1-3 years experience',
 '0-2 years experience',
 '0-1 years experience',
 '1-3 years experience',
 '1-5 years experience',
 '0-2 years experience',
 '1-4 years experience',
 '1-3 years experience',
 '1-3 years experience',
 '0-1 years experience',
 '0-1 years experience',
 '0-5 years experience',
 '0-5 years experience',
 '0-2 years experience']

In [17]:
Name5=soup.find_all("div",class_="status status-small status-inactive")
Job_type=[]
for i in Name5:
  name=i.text.strip()
  Job_type.append(name)
Job_type

['3 weeks ago',
 'Fresher Job',
 '1 week ago',
 'Fresher Job',
 '1 week ago',
 'Fresher Job',
 '1 week ago',
 'Fresher Job',
 'Fresher Job',
 'Fresher Job',
 'Fresher Job',
 'Fresher Job',
 'Fresher Job',
 'Job',
 'Job',
 'Fresher Job',
 'Job',
 'Fresher Job',
 'Fresher Job',
 'Job',
 'Part time',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Fresher Job',
 'Fresher Job',
 'Fresher Job',
 'Job',
 'Job',
 'Fresher Job',
 'Fresher Job',
 'Job',
 'Job',
 'Fresher Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Job',
 'Fresher Job',
 'Fresher Job',
 'Job',
 'Job',
 'Part time',
 'Fresher Job',
 'Job',
 'Job',
 'Job',
 'Fresher Job',
 'Fresher Job',
 'Job',
 'Job',
 'Fresher Job']

In [28]:
data = []
for i in range(1,118):
  url=f"https://internshala.com/jobs/page-{i}/"
  r=requests.get(url)
  soup=BeautifulSoup(r.text,"lxml")

  job_name1= soup.find_all("h3", class_="heading_4_5 profile")
  company_name1=soup.find_all("div", class_="heading_6 company_name")
  location_name=soup.find_all("a",class_="location_link view_detail_button")
  Salary_Rs=soup.find_all("span",class_="mobile")
  Experience=soup.find_all("div",class_="item_body mobile-text")
  Job_status=soup.find_all("div",class_="status status-small status-inactive")
  for name, company, Location, Salary, Experience, job_sta in zip(job_name1, company_name1, location_name, Salary_Rs, Experience, Job_status):
      job_name = name.text.strip()
      company_name = company.text.strip()
      location_name=Location.text.strip()
      salary=Salary.text.strip()
      experience=Experience.text.strip()
      job_i=job_sta.text.strip()
      data.append({"Job Name": job_name, "Company Name": company_name, "Location":location_name, "Salary":salary, "Experience":experience, "Job_Status":job_i})

In [29]:
df1=pd.DataFrame(data)

In [30]:
df1

,Job Name,Company Name,Location,Salary,Experience,Job_Status
0,Video Editor,Intigly Private Limited,Noida,"₹ 2,00,000 - 3,00,000 /year",0-2 years experience,3 weeks ago
1,Telesales - Tourism Industry,Esampark,Mumbai,"₹ 3,00,000 - 3,60,000 /year",0-2 years experience,Fresher Job
2,Digital Marketing Specialist,CLIC,Pitampura,"₹ 2,40,000 - 4,20,000 /year",0-2 years experience,1 week ago
3,Content Writer,OTFCoder,Ahmedabad,"₹ 3,00,000 - 3,50,000 /year",0-2 years experience,Fresher Job
4,Business Associate,HireDesigners,Delhi,"₹ 2,00,000 - 2,50,000 /year",0-2 years experience,1 week ago
...,...,...,...,...,...,...
4680,Graphic Designer,Aces Global Consulting Pvt Ltd,Bangalore,"₹ 3,50,000 - 5,00,000 /year",1-3 years experience,3 weeks ago
4681,Java Developer,Aces Global Consulting Pvt Ltd,Gurgaon,"₹ 12,00,000 - 18,00,000 /year",4-6 years experience,Job
4682,PHP Developer,Aces Global Consulting Pvt Ltd,Mumbai,"₹ 3,00,000 - 5,40,000 /year",1-3 years experience,3 weeks ago
4683,Video Editor,AdEngage,Thane,"₹ 2,40,000 - 3,00,000 /year",1-3 years experience,Job
4684,Digital Marketing Specialist,Assort Staffing Services Private Limited,Gurgaon,"₹ 2,00,000 - 4,00,000 /year",4-6 years experience,3 weeks ago

In [57]:
df1['Salary'] = df1['Salary'].str.replace('/year', '')
df1['Experience'] = df1['Experience'].str.replace(r'years? experience', '', case=False)
df1.head(15)

<ipython-input-57-1932622abc83>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['Experience'] = df1['Experience'].str.replace(r'years? experience', '', case=False)

,Job Name,Company Name,Location,Salary,Experience
0,Video Editor,Intigly Private Limited,Noida,"₹ 2,00,000 - 3,00,000",0-2
1,Telesales - Tourism Industry,Esampark,Mumbai,"₹ 3,00,000 - 3,60,000",0-2
2,Digital Marketing Specialist,CLIC,Pitampura,"₹ 2,40,000 - 4,20,000",0-2
3,Content Writer,OTFCoder,Ahmedabad,"₹ 3,00,000 - 3,50,000",0-2
4,Business Associate,HireDesigners,Delhi,"₹ 2,00,000 - 2,50,000",0-2
5,Business Development Associate,Break The Code,Ghaziabad,"₹ 2,00,000 - 3,00,000",0-1
6,Executive/Sr. Executive – Winback,IndiaMART,Noida,"₹ 3,00,000 - 3,60,000",0-2
7,Content Writer,WRS INDIA,Mumbai,"₹ 2,00,000 - 2,10,000",0-2
8,Lead Generation Specialist,MakeAR,Noida,"₹ 3,00,000 - 4,20,000",0-2
9,Human Resources (HR) Associate,Ostello India Private Limited,Chandigarh,"₹ 2,00,000 - 2,50,000",1-2
10,Academic Specialist,CloudBird Digital Private Limited,Noida,"₹ 2,00,000",0-1
11,Business Development Associate,NexGen Innovators IT Services Private Limited,Delhi,"₹ 2,00,000 - 3,00,000",1-2
12,Education Loan Counselor,GyanDhan,Noida,"₹ 2,80,000",0-1
13,Education Loan Counselor,GyanDhan,Delhi,"₹ 2,40,000",0-1
14,Graphic Designer,Espangle Consulting,Delhi,"₹ 4,20,000 - 6,50,000",0-5

In [60]:
df1.to_excel("Internshala.xlsx", index=False)